# Directories
/.vscode
/Library
/Logs
/Packages
/ProjectSettings
/Temp
/UIElementsSchema
/UserSettings
/Assets/Animations
/Assets/Prefabs
/Assets/Scenes
/Assets/Settings
/Assets/Sprites
/Assets/UIToolkit

# File Types
*.DS_Store
*.asset
*.kra
*.mat
*.meta
*.png
*.prefab
*.scenetemplate
*.unity
*.xcf
*~